<div class="recipe-form">
<%= form_for @recipe do |form| %>

<%= form.hidden_field :user_id, value: @user.id %>

  <div class="recipe-form-group">
    <%= form.text_field :name, :placeholder => "Name" %>
  </div>

  <div class="recipe-form-group">
    <%= form.text_area :description, :placeholder => "Description" %>
  </div>

  <div class="recipe-form-group">
    <%= form.number_field :calories, :placeholder => "Calories" %>
  </div>

  <div class="recipe-form-group">
    <%= form.number_field :carbs, :placeholder => "Carbs" %>
  </div>

  <div class="recipe-form-group">
    <%= form.number_field :protein, :placeholder => "Protein" %>
  </div>

  <div class="recipe-form-group">
    <%= form.number_field :fats, :placeholder => "Fats" %>
  </div>
  <div class="recipe-submit-button">
    <%= form.submit%>
    </div>
<% end %>
</div>
