<h1><%= @user.first_name%>'s Recipes</h1>
<div class="under-500-button">
  <h3><%=link_to "Recipes Under 500 Calories", under500_recipe_path(@user)%></h3>
</div>
  <% @recipes.each do |recipe| %>
    <div class="individual-recipe">
      <h3><%= link_to recipe.name, user_recipe_path(recipe.user_id, recipe.id) %></h3>
      <p><%= recipe.description %></p>
      <p>Calories: <%= recipe.calories %></p>
      <p>Carbs: <%= recipe.carbs %></p>
      <p>Protein: <%= recipe.protein %></p>
      <p>Fats: <%= recipe.fats %></p>
      <ul class="recipe-actions">
        <li><%= link_to "Edit", edit_recipe_path(recipe) %></li>
        <li><%= link_to "Delete", user_recipe_path(recipe.user_id, recipe.id), data: {
          confirm: "Are you sure you want to delete: #{recipe.name}?"
        }, method: :delete %></li>
      </ul>
    </div>
  <% end %>
</div>
