<h1><%= @recipe.name %></h1>

<h2>Description:</h2>
<p><%= @recipe.description %></p>

<h2>Calories:</h2>
<p><%= @recipe.calories %></p>

<h2>Carbs:</h2>
<p><%= @recipe.carbs %></p>

<h2>Protein:</h2>
<p><%= @recipe.protein %></p>

<h2>Fats:</h2>
<p><%= @recipe.fats%></p>

<h2>Created By:</h2>
<p><%= @creator %></p>


<div>
  <ul class="recipe-actions">
    <li><%= link_to "Back", user_recipes_path %></li>
    <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
    <li><%= link_to "Delete", user_recipe_path(@recipe.user_id, @recipe.id), method: :delete %></li>
  </ul>
</div>
