<h1><%= @recipe.recipe_name %></h1>
<h1><%= @recipe.description%></h1>
<h1><%= @recipe.calories %></h1>
<h1><%= @recipe.carbs %></h1>
<h1><%= @recipe.fats %></h1>
<h1><%= @recipe.protein %></h1>
<h1>Created By: <%= @creator %></h1>
