<%= stylesheet_link_tag "profile-layout", media: 'all', 'data-turbolinks-track': 'reload'%>

<div class="profile-layout">
  <div>
    <div class="profile-img">
      <img src="https://uwosh.edu/studenthealth/wp-content/uploads/sites/26/2016/08/anonymous-headshot.jpg" alt="headshot-template">
    </div>
    <ul class="profile-navigation">
      <li class="nav-element"><%= link_to "Hello #{@user.first_name}", user_profile_path(@user), :class => "nav-element"%></li>
      <li class="nav-element"><%= link_to "Build a Menu", new_menu_path, :class => "nav-element"%></li>
      <li class="nav-element"><%= link_to "Recipes", user_recipes_path(:user_id), :class => "nav-element"%></li>
      <li class="nav-element"><%= link_to "Add A Recipe", new_recipe_path, :class => "nav-element"%></li>
      <li class="nav-element"><%= link_to "Edit User", edit_user_path(@user), :class => "nav-element"%></li>
      <li class="nav-element"><%= link_to 'Logout', logout_path, :method => :delete, :class => "nav-element"%><li>
    </ul>
  </div>
  <div>
    <%= yield %>
  </div>
</div>
